@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.navbar-default {
  background-color: #fff;
  border-color: #fff;
}
.navbar-left {
  margin-left: 40px;
}
.navbar-default .navbar-nav > li > a,
.navbar .navbar-brand {
  color: #000;
}
.navbar .collapse .btn {
  margin-top: 15px;
  float: right;
  color: #ff0000;
  border: none;
  box-shadow: 0px 0px 5px #aaa;
}

.row {
  margin-top: 10px;
}
.row1 h1,
.row2 h2,
.row3 h1,
.row4 h1,
.row5 h1,
.row6 h1 {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 50px;
  color: #000066;
}
.row1 p {
  color: #aaa;
  padding: 15px 0px;
  font-family: "Noto Sans JP", sans-serif;
}
.row1 .btn,
.row2 .btn,
.row6 .btn {
  padding: 10px 25px;
  color: #fff;
  background-color: #ff0000;
  border-radius: 20px;
  margin-right: 20px;
}
.row1 a {
  color: #000066;
  font-weight: bold;
}
.row1 .img-style {
  height: 100%;
  width: 100%;
}

.row2 .col-sm-4:nth-child(2),
.row2 .col-sm-4:nth-child(3) {
  padding: 20px;
  width: 30%;
  box-shadow: 0px 0px 5px #aaa;
  margin-right: 15px;
}
.fa-envelope-o {
  font-size: 30px;
}
.row3 img {
  width: 100%;
}
.row3 h5 {
  color: #ff0000;
}
.row4 .col-sm-4 {
  height: 200px;
  width: 32%;
  background-color: #aaa;
  margin-left: 5px;
}
.row4 p {
  padding: 10px 0px;
  color: #ff0000;
}

.row5 .col-sm-4 {
  height: 200px;
  padding: 10px 30px;
  width: 32%;
  margin-right: 10px;
  box-shadow: 0px 0px 5px #aaa;
}
.row5 .col-sm-4 i {
  font-size: 20px;
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.row5 .col-sm-4.left-side {
  background-color: #ff0000;
  color: #fff;
}
.row5 .col-sm-4 h5 {
  font-weight: bold;
}
.row6 {
  padding-bottom: 20px;
}
.row5 b,
.row6 b {
  color: #ff0000;
}
.form-control {
  background-color: #e0ebeb;
  border: none;
}
.row6 .btn {
  margin-top: 20px;
}

footer {
  margin-top: 50px;
  height: 200px;
  background-color: #204060;
  color: #fff;
}
footer h2 {
  color: #ff0000;
  font-weight: bold;
}
footer a {
  margin: 10px;
  color: #fff;
}
h5 {
  padding-top: 10px;
}
footer .fa {
  font-size: 20px;
  margin: 10px 15px 20px 15px;
}
@media only screen and (max-width: 767px) {
  .row2 .col-sm-4:nth-child(2),
  .row2 .col-sm-4:nth-child(3) {
    width: 100%;
    margin-top: 10px;
  }
  .row4 .col-sm-4 {
    height: 70px;
    width: 100%;
  }
  .row5 .col-sm-4 {
    width: 100%;
    margin-top: 10px;
  }
  .row6 .col-sm-10 .col-sm-6 {
    margin-top: 10px;
  }
  .navbar .btn-default {
    display: none;
  }
}
